.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: darkred;
  font-size: 1.5rem;
}

.error-page .error-container h1 {
  font-size: 2rem;
  margin: 1rem 0rem;
  color: red;
}

.error-page .error-container {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.error-page button {
  font-size: 1.5rem;
  background: var(--start-color);
  color: var(--end-color);
  border: none;
  padding: 0.5rem 1.2rem;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 3px;
  align-self: center;
}

.error-page button:hover {
  opacity: 0.3;
}